<% include ../../partials/header %>
<div class="container">
       <div class="row">
            <h1 style="text-align: center">Add new food to <%= restaurant.name %></h1>
            <div style="width: 30%; margin: 25px auto;">
                <form action="/admin/restaurants/<%= restaurant._id %>/foods" method="POST">
                    <div class="form-group">
                         <input class="form-control" type="text" name="food[name]" placeholder="Food">
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="number" name="food[cost]" placeholder="Cost">
                   </div>

                   <div class="form-group">
                    <input class="form-control" type="number" name="food[discount]" placeholder="discount">
                  </div>

                  <div class="form-group">
                    <input class="form-control" type="text" name="food[image]" placeholder="picture">
                 </div>

                     <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                    </div>
                </form>  
                <a href="/restaurants">Go back</a>
            </div>    
            
      </div>
</div>
<% include ../../partials/footer %> 