<h1> Admin Dashboard</h1>

<a href = "/admin/users"> See Userbase</a> <br>
<a href = "/admin/hotels"> Manage Hotels</a> <br>
<a href = "/admin/travels"> Manage Travel</a> <br>
<a href = "/admin/estaurants"> Manage Restaurants</a> <br>
<a href = "/admin/items"> Manage Items</a>

